<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/text.css">
<head>
    <meta charset="UTF-8">
    <title th:text="${artikel.ueberschrift}"></title>
    <link rel="stylesheet" href="/knopf.css">
</head>
<body>
<div th:insert='/fragments/header :: header (user=${nutzerSession.getName()})'></div>

<h1 th:text="${artikel.ueberschrift}">Platzhalter-Überschrift</h1>
<p class="textfeld" th:text="${artikel.text.inhalt}">Platzhalter-Text</p>
<hr>

<h2>Produktbewertung</h2>
<form th:action="@{'/artikel/' + ${artikelId} + '/neueBewertung'}" method="post" th:each="i: ${#numbers.sequence(1, 5)}" style="display: inline; width:100%">
    <button type="submit" name="sterne" th:value="${i}" th:style="'background: url(' + (${i <= nutzerSterne}? '/icons/star_filled.svg': '/icons/star.svg') + '); border: none; width: 40px; height: 40px'"></button>
</form>

<h2 th:text="${sterneSchnitt}"></h2>

<h2>Kommentare</h2>
<th:block th:each="kommentar: ${artikel.kommentare}">
    <div>
        <h3>
              <span>
                <span style="float: left" th:text="${kommentar.text.verfasser.name}"></span>
                <span style="float: right" th:text="${#temporals.format(kommentar.text.zeitstempel)}"></span>
              </span>
        </h3>
        <br>
        <p class="textfeld" th:text="${kommentar.text.inhalt}">
    </div>
</th:block>
<div th:insert="/fragments/hinzufuegenKnopf :: knopf (href=@{${artikel.id}+'/neuerKommentar'})"></div>

</body>
</html>