.erstellen-knopf {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#29B6F6;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.logout-knopf {
    position:absolute;
    top:20px;
    right:20px;
}

.my-float {
    margin-top:22px;
}

.stern-knopf {
    border: none;
    width: 40px;
    height: 40px;
    margin-left: auto;
}