<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blogs</title>
  <link rel="stylesheet" href="/knopf.css">

</head>
<body>
<div th:insert='/fragments/header :: header (user=${nutzerSession.getName()})'></div>
<h1 th:text="${blog.ueberschrift}">Blogplatzhalter</h1>
<table>
  <thead>
  <tr>
    <th> Titel </th>
    <th> Datum </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${blog.artikel.empty}">
    <td colspan="2"> Keine Artikel verfügbar </td>
  </tr>
  <tr th:each="artikel : ${blog.artikel}">
    <td><a th:href="@{'/artikel/'+${artikel.id}}"><span th:text="${artikel.ueberschrift}"> Titel </span></a></td>
    <td><span th:text="${#temporals.format(artikel.text.zeitstempel)}"> Datum </span></td>
  </tr>
  </tbody>
</table>

<div th:insert="/fragments/hinzufuegenKnopf :: knopf (href=@{${blog.id}+'/neuerArtikel'})"></div>

</body>
</html>